section {
    padding: 20px;
}

.jumbotron {
    text-align: center;
}

.btn a:hover {
    color: #fff;
    text-decoration: none;
}

.btn {
    display: flex !important;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 100px;
}

.row {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
}

.post-container {
    display: flex;
    flex-flow: column nowrap;
}

.post-grid {
    list-style-type: none;
}

.posts {
    text-align: center;
    padding: 15px;
    border: 1px solid rgb(148, 141, 141);
    border-radius: 4px;
    max-width: 60%;
    margin: auto;
}

.comments {
    max-width: 40%;
    margin: 30px auto;
    padding: 15px;
    box-shadow:1px 1px 8px #000;
    border-radius: 5px;
}

.comments-img img {
    width: 200px;
}